#app {
  min-height: 100vh;
  max-width: 90rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  padding-inline-start: 0.5rem;
}

.no-shrink {
  flex-shrink: 0;
}

.gray-text,
.grey-text {
  color: grey;
}

.small-text {
  font-size: 0.8rem;
}
