#app {
  /* margin-inline: 0.5rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  padding-inline-start: 0.5rem;
}

.no-shrink {
  flex-shrink: 0;
}

.gray-text,
.grey-text {
  color: grey;
}
